<div class="center hero-unit"> 
<p>
	<strong>Name:</strong>
	<%= @curRobot.name %>
</p>

<p>
	<strong>Description:</strong>
	<%= @curRobot.description %>
</p>

<p>
	<strong>Photo:</strong>
	<% if @curRobot.photoPath == nil %>
		<i><%= 'no photo' %></i>
	<% else %>
		<%= image_tag(@curRobot.photoPath) %>
	<% end %>
</p>

<% if signed_in? %>

	<%= form_for ([@curRobot, @curRobot.orders.build]) do |orderForm| %>
		<p>
			<%= orderForm.submit %>
		</p>
	<% end %>

<% end %>

<% if signed_in? && current_user.userType == 'admin' %>

	<%= link_to 'List of orders of current robot', orders_robot_path(@curRobot) %>

	<br> 
	<br>

	<%= link_to 'Edit robot information', edit_robot_path(@curRobot) %>

	<br>
	<br>

	<%= link_to 'Delete robot', robot_path(@curRobot), 
			method: :delete, data: { confirm: 'Are you sure?' } %> 
			
	<br><br>

<% end %>
	
<%= link_to 'Back to robot list', robots_path %>
</div>