<!DOCTYPE html>
<html>
  <head>
 <title>Steam</title>
  <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  <%= csrf_meta_tags %>
	<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
        <%= link_to "RobotSteam", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Help",    '#' %></li>
			  <% if signed_in? %>
			  
				<li><%= link_to current_user.login, current_user %></li>
                <li><%= link_to "Sign out", signout_path, method: :delete %> </li>
			 
			 <% else %>
				<li><%= link_to "Sign in", signin_path %></li>
			  <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
	</br>
	<div id="menu">
	<ul class="nav nav-list">
	<li class="nav-header">Menu</li>
	
	<li> <%= link_to 'List of robots', controller: 'robots' %> </li>
	<% if signed_in? && current_user.userType == 'admin' %>
		<li> <%= link_to 'List of orders', controller: 'orders' %> </li>
		<li> <%= link_to 'List of users', controller: 'users' %> </li>
	<% end %>
	
	</ul>
	</div>
	<div id="content">
    <div class="container">
      <%= yield %>
    </div>
	</div>
  </body>
</html>
